body {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 75%;
    pointer-events: none;
}

.banner .content {
    position: relative;
    z-index: 1;
    top: 40%;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    /* text-transform: uppercase; */
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.banner .content p {
    font-size: 1.5em;
    color: #fff;
}


/* Smartphones (portrait) */

@media only screen and (max-width: 320px) {
    .banner .content h1 {
        font-size: 0.75rem;
    }
    .banner .content p {
        font-size: 1em;
    }
    .banner .content {
        max-width: 250px;
    }
}

@media only screen and (max-width: 360px) {
    .banner .content h1 {
        font-size: 0.85rem;
    }
    .banner .content p {
        font-size: 1em;
    }
    .banner .content {
        max-width: 280px;
    }
}

.titles {
    color: #a75f49;
    font-family: 'Dancing Script';
}

.bg-pink {
    background: #a75f49
}

.fixed-top.scrolled {
    background-color: rgb(15, 14, 14) !important;
    transition: background-color 200ms linear;
}

.text-white-opacity {
    color: #f2f2f2;
}

.margin-top-h1 {
    margin-top: 22rem;
}

.row {
    margin: 15px;
}

.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1 {
    background-image: url(../img/casaVerde1.jpeg);
}

.navShadow {
    color: #fff;
    text-shadow: 2px 4px 6px #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}