body {
    margin: 0;
    padding: 0;
}

#my-video {
    position: relative;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}


/* Smartphones (portrait) */

@media only screen and (max-width: 320px) {
    .banner .content h1 {
        font-size: 0.75rem;
    }
    .banner .content p {
        font-size: 1em;
    }
    .banner .content {
        max-width: 250px;
    }
}

@media only screen and (max-width: 360px) {
    .banner .content h1 {
        font-size: 0.85rem;
    }
    .banner .content p {
        font-size: 1em;
    }
    .banner .content {
        max-width: 280px;
    }
}

.titles {
    color: #a75f49;
    font-family: 'Dancing Script';
}

.bg-pink {
    background: #a75f49
}

.fixed-top.scrolled {
    background-color: rgb(15, 14, 14) !important;
    transition: background-color 200ms linear;
}

.text-white-opacity {
    color: #f2f2f2;
}

.margin-top-h1 {
    margin-top: 22rem;
}

.row {
    margin: 15px;
}

.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1 {
    background-image: url(../img/casaVerde1.jpeg);
}

.navShadow {
    color: #fff;
    text-shadow: 2px 4px 6px #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}